@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply text-foreground bg-gradient-to-b from-black bg-purple-950 antialiased;
	}
}

.parent-container {
	@apply w-full min-h-screen md:items-center md:justify-center overflow-hidden;
}

.container {
	@apply flex-col items-start justify-center px-6;
}

.heading {
	@apply max-h-[128px] text-3xl min-[360px]:text-5xl sm:text-7xl px-6 py-5 text-center bg-clip-text text-transparent bg-gradient-to-b from-purple-700 bg-purple-300 bg-opacity-80 hover:from-purple-600 hover:bg-purple-100 hover:bg-opacity-100;
}

.loading-container {
	@apply text-3xl md:text-5xl flex items-center justify-center flex-col px-8 w-full py-20;
}

.submission-container {
	@apply text-xl min-[360px]:text-3xl md:text-5xl flex items-center justify-center flex-col px-8 bg-inherit border-white w-full py-10 md:py-20;
}

.loading-message,
.submission-message {
	@apply text-white font-light text-center justify-center mx-auto py-10 animate-pulse;
}

.button-container {
	@apply flex items-center gap-4 my-10 animate-bounce;
}

.button {
	@apply w-[240px] text-lg font-light mx-auto bg-gradient-to-b from-purple-700 bg-inherit bg-opacity-50 shadow-lg shadow-black;
}
.form {
	@apply space-y-4 h-full border rounded-xl p-3 min-[400px]:p-5 mb-5 sm:w-4/5 sm:min-w-[590px] mx-auto;
}

.form-item {
	@apply items-center justify-center w-full;
}

.form-label {
	@apply text-sm bg-clip-text text-neutral-200 bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50;
}

.form-control {
	@apply relative hover:left-0.5;
}

.form-message {
	@apply bg-white border-red-600 border-2 rounded-[4px] min-w-[100px] p-1 z-10 shadow-red-600 shadow-md text-black relative -top-3 left-3;
}

.span {
	@apply text-red-600;
}

.textarea {
	@apply h-[100px];
}
